<!-- Gallery SECTION -->  
  <section id="portfolio" class="text-center grid">
          <div class="portfolioContainer">
            <div class="row">
                 {{content.field_gallery}}
            </div>
           </div>
   </section>