<div class="col-xs-12 col-sm-6 col-md-6 wow fadeInRight video-list">
  <div class="video-lists" style="background-image: url({{file_url(content.field_image['#items'].entity.uri.value)}})";>
    <a class="popup-youtube" href="{{content.field_youtube_link.0}}"><i class="fa fa-play"></i></a>            
  </div>
</div> 