<!--  Start top banner section  -->
<section id="top-banner" style="background-image: url({{file_url(content.field_image['#items'].entity.uri.value)}});">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center top-banner-caption">
      <h1>{{content.field_title.0}}</h1>
      </div>
    </div>
  </div>
  </section>
<!--  End top banner section  -->