 <li>
  <div class="as-link" data-src="{{file_url(content.field_audio['#items'].entity.uri.value)}}">
      <div class="row">
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="block-track ml-5">
                  <h5 class="mb-0  uppercase">{{content.field_title.0}}</h5>
              </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 text-md-right">
            <p>{{content.field_duration.0}}</p>
          </div>
      </div>
  </div>
</li>