 <div class="col-md-4 col-sm-6 col-xs-12 categories">
    <div class="portfolio-item wow fadeInUp">
      <a href="{{file_url(content.field_image['#items'].entity.uri.value)}}" class="portfolio-popup">
        <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" class="img-fluid" alt="Latest photos" title="Latest Photos">
        <div class="portfolio-overlay">
          <div class="portfolio-info middle"><p class="wow fadeInUp"></p>
          <h5>{{content.field_title.0}}</h5>
          </div>
        </div>
      </a>  
    </div>
    </div>