<!-- Start  banner section -->
<section id="banner" style="background-image: url({{file_url(content.field_image['#items'].entity.uri.value)}});">
  <div class="container">
    <div class="col-md-8 mx-auto banner-caption text-center">
    <h1>{{content.field_title.0}}</h1>
    </div>
  </div>
</section>
<!-- End  banner section -->